:root {
  --primary: #eb5353;
  --secondary: #f9d923;
  --main: #f9ebc8;
}

body {
  background: var(--main);
}

.list-container {
  border: 1px solid rosybrown;
  margin-top: 24px;
  border-radius: 10px;
}

li {
  padding: 8px;
  list-style: none;
}

button,
input {
  padding: 8px;
  border-radius: 4px;
  border: none;
}

button {
  border-radius: 4px;
  background-color: var(--primary);
  color: white;
}

.counter-container {
  margin: 8px;
  display: flex;
}

.counter-container span {
  display: inline-block;
  padding-top: 8px;
  width: 14%;
}
